export REACT_APP_AWS_COGNITO_IDENTITY_POOL_ID =
export REACT_APP_AWS_REGION=us-east-1
export REACT_APP_AWS_COGNITO_USER_POOL_ID=us-east-1_9qhXKvvoR
export REACT_APP_AWS_COGNITO_WEB_CLIENT_ID=5vf051lja7aio6rm07k9v1n85i
